{% extends 'base.html' %}
{% load thumbnail %}

{% block title%}{{ title|truncatechars:50 }}{% endblock %}
<main>
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    {% include 'includes/heading.html' %}    
    <article>
    {% block content %} 
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post_unit.pub_date|date:"d E Y" }}
          </li>
          <!-- если у поста есть группа --> 
          {% if post_unit.group %}  
          <li class="list-group-item">
            Группа: {{ post_unit.group.title }}
            <a href="{% url 'posts:group_list' post_unit.group.slug %}">
              все записи группы
            </a>
          {% endif %}
          </li>
          <li class="list-group-item">
            Автор: {{ post_unit.author.username }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора:  <span > {{ count }} </span>
          </li>
          <li class="list-group-item">
            <a href=" {% url 'posts:profile' post_unit.author.username %} ">
              все посты пользователя
            </a>
          </li>
          
        </ul>
      </aside>
      <div class="col-12 col-md-9">
        {% thumbnail post_unit.image "800x460" crop="center" upscale=True as im %}
          <img class="card-img my-2 img-thumbnail" src="{{ im.url }}">
        {% endthumbnail %}
        <p>
         {{ post_unit.text }}
        </p>
          
              <a class="btn btn-primary" href="{% url 'posts:post_edit' post_unit.id %}">
                редактировать пост
              </a>
              {% load user_filters %}
              {% if user.is_authenticated %}
              <div class="card my-4">
                <h5 class="card-header">Добавить комментарий:</h5>
                <div class="card-body">
                  <form method="post" role="form" action="{% url 'posts:add_comment' post_unit.id %}">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                      <div>
                        {{ form.text|addclass:'form-control' }}
                      </div>


                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                  </form>
                </div>
              </div>
            {% endif %}
            {% for comment in comments %}
              <div class="media mb-4">
                <div class="media-body">
                  <h5 class="mt-0">
                    <a href="{% url 'posts:profile' comment.author.username %}">
                      {{ comment.author.username }}
                    </a>
                  </h5>
                  <p>
                    {{ comment.text }}
                  </p>
                </div>
              </div>
            {% endfor %}  
      </div>
    </div>      
    {% endblock content %}
    </article>          
  </div>  
</main>